.posts {

}

.postsList {
    display: flex;
    flex-direction: column;
}

.item {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid black;
    border-radius: 5px;
    background-color: #636363;
    color: #bababa;
}

.item:hover {
    background-color: #848484;
}