.header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: fixed;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--border_color);
    background-color: var(--bg_color_primary);
    z-index: 10;
}

.header_row {
    /*max-width: 1000px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

ul {
    display: flex;
    flex-direction: row;
}

.item {
    list-style: none;
}

.item a {
    color: white;
}

.header_row li + li {
    margin-left: 15px;
}

.logo, .logo img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.logo img {
    object-fit: cover;
}
