.nav {
    grid-column: 2 / 3;
    grid-row: 2 / -2;
    padding: 5px;
    margin-left: 10px;
    background-color: var(--bg_color_primary);
    border-left: 1px solid var(--border_color);
    border-right: 1px solid var(--border_color);
}

.nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav li a {
    display: inline-block;
    padding: 5px 10px;
    color: #777777;
}


.item {

}

.active {
    color: blueviolet;
}