.dialog_page {
    display: flex;
    flex-direction: row;
}

.dialogs_list ul {
    display: flex;
    flex-direction: column;

    width: 250px;
    margin-right: 10px;
}

.dialogs_item {
    padding: 15px;
    margin-bottom: 5px;
    background-color: #636363;
    border: 1px solid black;
    border-radius: 10px;
}

.dialog_active {
    background-color: #848484;
}

.messages_list {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 15px;
    background-color: #848484;
    border: 1px solid black;
}

.message_item {
    width: 70%;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #636363;
    border: 1px solid black;
    border-radius: 10px;
}

.inbox {
    align-self: flex-start;
}

.outbox {
    align-self: flex-end;
}