.about {
    display: flex;
    flex-direction: row;
}
.avatar {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.avatar_image {
    width: 150px;
    height: 250px;
    border-radius: 15px;

    object-fit: cover;
}

.btn_uploadAvatar {
    position: relative;
    display: inline-block;
}

.btn_uploadAvatar span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-radius: 4px;
    background-color: #0074D9;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.btn_uploadAvatar input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* focus */
.btn_uploadAvatar input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* hover/active */
.btn_uploadAvatar:hover span {
    background-color: #787fff;
}
.input-file:active span {
    background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.description {
    padding: 10px;
}


.facebook {
    color: #787fff;
}

.website {

}

.vk {
    color: blue;
}

.twitter {

}

.instagram {

}

.youtube {

}

.github {

}

.mainLink {

}