.profile__background_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile__about {
    display: flex;
    flex-direction: row;
}
.profile__avatar {
    display: flex;
    flex-direction: row;
}

.profile__avatar_image {
    width: 150px;
    height: 250px;
    border-radius: 15px;

    object-fit: cover;
}

.profile__about_description {
    padding: 10px;
}


.facebook {
    color: #787fff;
}

.website {

}

.vk {
    color: blue;
}

.twitter {

}

.instagram {

}

.youtube {

}

.github {

}

.mainLink {

}