* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    color: rgb(27, 27, 27);
}

.App {
    display: grid;
    grid-template-columns: 1fr 250px 950px 1fr;
}

.content {
    grid-column: 3 / 4;
}

a {
    text-decoration: none;
}

a:hover {
    color: purple;
}
